<launch>
  <node pkg="nodelet" type="nodelet" name="chatters" args="manager" output="screen">
    <param name="num_worker_threads" value="2"/>
  </node>
  <node name="alice" pkg="nodelet" type="nodelet" args="load roscpp_nodewrap_tutorial/ChatterNode chatters" output="screen">
    <rosparam command="load" file="$(find roscpp_nodewrap_tutorial)/etc/alice.yaml"/>
  </node>
  <node name="bob" pkg="nodelet" type="nodelet" args="load roscpp_nodewrap_tutorial/ChatterNode chatters" output="screen">
    <rosparam command="load" file="$(find roscpp_nodewrap_tutorial)/etc/bob.yaml"/>
  </node>
</launch>
