<launch>
  <node name="chatters" pkg="roscpp_nodewrap_tutorial" type="chatter_supernode" output="screen">
    <rosparam command="load" ns="/alice" file="$(find roscpp_nodewrap_tutorial)/config/alice.yaml"/>
    <rosparam command="load" ns="/bob" file="$(find roscpp_nodewrap_tutorial)/config/bob.yaml"/>
  </node>
  
  <arg name="diagnostics" default="false"/>
  <group if="$(arg diagnostics)">
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
      <rosparam command="load" file="$(find roscpp_nodewrap_tutorial)/config/chatter_analyzers.yaml"/>
    </node>
    <node pkg="rqt_robot_monitor" type="rqt_robot_monitor" name="diagnostic_monitor" required="true"/>
  </group>
</launch>
