<launch>
  <node name="maya" pkg="roscpp_nodewrap_tutorial" type="worker_node" output="screen">
    <rosparam command="load" file="$(find roscpp_nodewrap_tutorial)/config/maya.yaml"/>
  </node>
  
  <node pkg="rostopic" type="rostopic" name="wake_nursing" args="pub -r 20 /wake_nursing std_msgs/Empty" output="screen"/>
  
  <arg name="diagnostics" default="false"/>
  <group if="$(arg diagnostics)">
    <node pkg="diagnostic_aggregator" type="aggregator_node" name="diagnostic_aggregator">
      <rosparam command="load" file="$(find roscpp_nodewrap_tutorial)/config/worker_analyzers.yaml"/>
    </node>
    <node pkg="rqt_robot_monitor" type="rqt_robot_monitor" name="diagnostic_monitor" required="true"/>
  </group>
</launch>
